pruebas.py
__pycache__
.vscode
.register
50-cloud-init.yaml
99-disable-network-config.cfg
haproxy.cfg

# Que solo se guarde en github la aplicacion por defecto
program/resources/apps/*
!program/resources/apps/default
!program/resources/apps/gh_aled
!program/resources/apps/gh_propia
.git