@CHARSET "UTF-8";

*                    { margin: 0; padding: 0; }
body                 { font: 16px Georgia, serif; }

nav, section 		 { background: #eee; border: 1px solid #999; padding: 1%; 
                       margin-bottom: 1px; color: black;}
header, footer       {display: none;}               
nav a                { margin: 0px 10px 0px 0px;}